<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ancestors</key>
    <array>
      <string>com.borealkiss.cocoaTouchApplication</string>
      <string>com.paytonrules.ocdSpec</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Definitions</key>
    <dict>
      <key>OCDSpec/OCDSpec/Programs/unitTestMain.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
          <string>Programs</string>
        </array>
        <key>Path</key>
        <string>../../../OCDSpec/OCDSpec/Programs/unitTestMain.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/Programs/RunIPhoneUnitTest.sh</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
          <string>Programs</string>
        </array>
        <key>Path</key>
        <string>../../../OCDSpec/OCDSpec/Programs/RunIPhoneUnitTest.sh</string>
      </dict>
      <key>OCDSpec/OCDSpec/iPhone-Prefix.pch</key>
      <dict>
        <key>Group</key>
        <string>OCDSpec</string>
        <key>Path</key>
        <string>../../../OCDSpec/OCDSpec/iPhone-Prefix.pch</string>
      </dict>
    </dict>
    <key>Nodes</key>
    <array>
      <string>OCDSpec/OCDSpec/Programs/unitTestMain.m</string>
      <string>OCDSpec/OCDSpec/Programs/RunIPhoneUnitTest.sh</string>
      <string>OCDSpec/OCDSpec/iPhone-Prefix.pch</string>
    </array>
    <key>Description</key>
    <string>This template provides a command line runner for an iPhone app using OCSpec.  Add this as a target to an existing iPhone application.  Then add any OCDSpec's to this target, along with any actual files needed for testing.</string>
    <key>Identifier</key>
    <string>com.paytonrules.iphonerunner</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Targets</key>
    <array>
      <dict>
        <key>SharedSettings</key>
        <dict>
          <key>GCC_PREFIX_HEADER</key>
          <string>${TARGET_NAME}/OCDSpec/OCDSpec/iPhone-Prefix.pch</string>
        </dict>
        <key>BuildPhases</key>
        <array>
          <dict>
            <key>Class</key>
            <string>ShellScript</string>
            <key>ShellPath</key>
            <string>/bin/sh</string>
            <key>ShellScript</key>
            <string>chmod +x ${SOURCE_ROOT}/${TARGET_NAME}/OCDSpec/OCDSpec/Programs/RunIPhoneUnitTest.sh
              ${SOURCE_ROOT}/${TARGET_NAME}/OCDSpec/OCDSpec/Programs/RunIPhoneUnitTest.sh</string>
          </dict>
        </array>
      </dict>
    </array>
  </dict>
</plist>
