<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Ancestors</key>
    <array>
      <string>com.borealkiss.cocoaTouchApplication</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Definitions</key>
    <dict>
      <key>Classes/OCDSpec/OCDSpecDescription.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>Classes</string>
          <string>OCDSpecDescription</string>
        </array>
        <key>Path</key>
        <string>Classes/OCDSpec/OCDSpecDescription.m</string>
      </dict>
      <key>Classes/OCDSpec/OCDSpecDescription.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>Classes</string>
          <string>OCDSpecDescription</string>
        </array>
        <key>Path</key>
        <string>Classes/OCDSpec/OCDSpecDescription.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>Info.plist</key>
      <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>Info.plist</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>unitTestMain.m</key>
      <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>unitTestMain.m</string>
      </dict>
      <key>Prefix.pch</key>
      <dict>
        <key>Group</key>
        <string>Supporting Files</string>
        <key>Path</key>
        <string>Prefix.pch</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
    </dict>
    <key>Description</key>
    <string>This template provides a command line runner for an iPhone app using OCSpec.  Add this as a target to an existing iPhone application.  Then add any OCDSpec's to this target, along with any actual files needed for testing.</string>
    <key>Identifier</key>
    <string>com.paytonrules.iphonerunner</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Nodes</key>
    <array>
      <string>Info.plist</string>
      <string>Prefix.pch</string>
      <string>unitTestMain.m</string>
      <string>Classes/OCDSpec/OCDSpecDescription.h</string>
      <string>Classes/OCDSpec/OCDSpecDescription.m</string>
    </array>
    <key>Targets</key>
    <array>
      <dict>
        <key>SharedSettings</key>
        <dict>
          <key>OTHER_LDFLAGS</key>
          <string>-ObjC -all_load</string>
          <key>USER_HEADER_SEARCH_PATHS</key>
          <string>$(BUILT_PRODUCTS_DIR)/usr/local/include</string>
        </dict>
      </dict>
    </array>
  </dict>
</plist>
