<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Identifier</key>
    <string>com.paytonrules.ocdSpec</string>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Definitions</key>
    <dict>
      <key>OCDSpec/OCDSpec/Protocols/DescriptionRunner.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
          <string>Protocols</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/Protocols/DescriptionRunner.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/Protocols/Example.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
          <string>Protocols</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/Protocols/Example.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecDescription.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecDescription.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecDescription.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecDescription.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecDescriptionRunner.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecDescriptionRunner.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecDescriptionRunner.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecDescriptionRunner.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecExample.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecExample.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecExample.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecExample.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecExpectation.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecExpectation.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecExpectation.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecExpectation.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecFail.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecFail.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecFail.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecFail.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecOutputter.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecOutputter.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecOutputter.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecOutputter.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecSharedResults.m</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecSharedResults.m</string>
      </dict>
      <key>OCDSpec/OCDSpec/OCDSpecSharedResults.h</key>
      <dict>
        <key>Group</key>
        <array>
          <string>OCDSpec</string>
        </array>
        <key>Path</key>
        <string>OCDSpec/OCDSpec/OCDSpecSharedResults.h</string>
        <key>TargetIndices</key>
        <array/>
      </dict>
    </dict>
    <key>Nodes</key>
    <array>
      <string>OCDSpec/OCDSpec/Protocols/DescriptionRunner.h</string>
      <string>OCDSpec/OCDSpec/Protocols/Example.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecDescription.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecDescription.m</string>
      <string>OCDSpec/OCDSpec/OCDSpecDescriptionRunner.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecDescriptionRunner.m</string>
      <string>OCDSpec/OCDSpec/OCDSpecExample.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecExample.m</string>
      <string>OCDSpec/OCDSpec/OCDSpecExpectation.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecExpectation.m</string>
      <string>OCDSpec/OCDSpec/OCDSpecFail.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecFail.m</string>
      <string>OCDSpec/OCDSpec/OCDSpecOutputter.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecOutputter.m</string>
      <string>OCDSpec/OCDSpec/OCDSpecSharedResults.h</string>
      <string>OCDSpec/OCDSpec/OCDSpecSharedResults.m</string>
    </array>
  </dict>
</plist>
